body {
    font-family: 'San Francisco', sans-serif;
    background-color: #E7F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.form-container {
    padding: 20px;
    flex: 1;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-container button {
    padding: 10px;
    background-color: #3477B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.form-container button:hover {
    background-color: #3477B9;
}

.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8;
    padding: 20px;
}

.image-container input {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: none; /* Hide image initially */
}

/* BUTTON CONTAINER */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust gap between buttons */
}

.icon-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: #3477B9;
}

.icon-button img {
    width: 40px; /* Adjust icon size */
    height: 40px;
    display: block;
}




@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        order: -1;
    }

    .form-container {
        padding: 10px;
    }

    .form-container h1 {
        font-size: 20px;
    }

    .form-container p {
        font-size: 12px;
    }

    .form-container label,
    .form-container input,
    .form-container button {
        font-size: 12px;
    }
}
